---
layout: bootstrap 
title: Aaron Bery
---
<div class="row">

  <h3>Latest Posts</h3>
    <div class="col-md-12">
      {% include latest-posts.html %}
    </div>
</div>

<div class="row"> 
  <h3>What I've worked on</h3>
  <div class="col-md-4">
    {% include portfolio-description.html %}
  </div>
  <div class="col-md-8">
    {% include portfolio-carousel.html %}
  </div>
</div>

<div class="row">
    <h3 id="about">About me</h3>
    <div class="col-md-12">
      <img src="/assets/images/me.jpg" class="image-responsive image-responsive--small" align="right" />
      <p>
      I am a front end developer at University College London who specializes in single page JavaScript applications and building well architected front end projects using task runners such as Grunt. I am currently working on a range of exciting technologies and applications that comprise the university's growing and evolving web presence. I also possess strong skills in SASS, CSS, XHTML with years of experience in a number of backend technologies such as CFML.
      </p><p>
      I am the leading developer on UCL’s responsive framework Indigo that can be found publicly on Github, pioneering a number of the frameworks most valuable functionality along with key input on the configuration of the core architecture.
      </p><p>
      I have produced a number of single page applications using a variety of Javascript frameworks throughout my career. These include the University prospectus for Life Learning and the Institute of Education both written in Backbone JS. I am also in the process of completing the UCL Transport Institutes ‘Find an expert’ CRM integration which uses the framework Angular JS which also integrates with our researcher API. 
      </p><p>
      I’m currently spending my R&D time researching and experimenting with React Js and ECMAScript 2015 with a long term goal to implement both to in our future web apps.
      </p>
      If you have any upcoming projects requiring a front end expert I would love to hear from you
      </p>
      <p>
      <a class="btn btn-primary btn-lg" href="mailto:aaronaldo99@gmail.com" role="button">Contact me »</a>
      </p>
    </div>
</div>

<div class="row row--disclaimer-footer">

  {% include footer-bootstrap.html %}

</div>
