{% if page.showSpecificCategoryPosts %}
<ul class="post-list">
{% for category in site.categories %}
  {% if category.first == page.showSpecificCategoryPosts %}
  <li>
    <h3><a name="{{ category | first }}">{{ category | first }}</a></h3>
    <ul>
    {% for posts in category %}
      {% for post in posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
  {% endif %}
{% endfor %}
</ul>
{% else %}
<ul class="post-list">
  {% for post in site.posts %}
    <li>
      <p>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br />
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span><br />
      </p>
    </li>
  {% endfor %}
</ul>
{% endif %}
