<p>
I started off working at St George's University as a web assistant in 2009 before moving on to Pixl8 Interactive to work in a web support role for a short period of time.
</p>
<p>
I joined IDG UK in 2012 as a Junior Web Developer working on a number of the technology websites including PC Advisor and MacWorld along with a number of high profile associated campaigns.
</p>
<p>
2 years later I moved to University College London with the brief to implement a number of cutting edge technologies into their front end real estate. In my time I have been tasked with developing the most high profile applications such as the various online prospectus, and led on their resposive framework project <a href="https://github.com/UCL-WAMS/indigo" title="Indigo - GitHub">'Indigo'.</a></p>
