<p>
I started off working at St George's University as a web assistant in 2009 before moving on to Pixl8 Interactive to work in a web support role for a short period of time.
</p>
<p>
I joined IDG UK in 2012 as a Junior Web Developer working on a number of the tech publications including a number of high profile campaigns.
</p>
<p>
I moved to UCL in the summer of 2014 and quickly became a leader in the front end real estate. In my time I have been tasked with developing the most high profile applications such as the various online prospectus.</p>
