<div class="wrapper">

		<div class="photograph">
			<div class="brand">
				<p class="brand__heading">ShowCase Website</p>
				<a href="/" class="brand__link"><span class="visually-hidden">Home</span></a>
					<img src="//cdn.ucl.ac.uk/img/blank.gif" data-src="//static.ucl.ac.uk/indigo/images/ucl-logo.svg" alt="UCL logo" id="logo" class="brand__logo lazy">
			</div>
			<p class="photograph__description">{{ page.description }}</p>
		</div><!-- end .photograph -->

			<div class="sidebar">

				<nav class="nav nav--mobile">
					<ul>
            <li><a href="/">Home</a>
            {% include navigation.html %}
          </ul>
				</nav>

				<nav class="nav nav--left">
					<ul>
            <li><a href="/">Home</a>
            {% include navigation.html %}

					</ul>

				</nav>

			</div> <!-- end .sidebar -->

			<nav class="nav nav--top">
		    <ul>
          <li><a href="/">Home</a>
          {% include navigation.html %}
			  </ul>
			</nav>

		</div> <!-- end .wrapper -->

	</header><!-- end .header -->

	<div class="site-content wrapper">

		<header class="header header--mobile default-header">

			<a class="header header__open" href="#"><img src="//cdn.ucl.ac.uk/img/blank.gif" class="lazy" data-src="//static.ucl.ac.uk/indigo/images/mob-nav.png" alt="Menu" /></a>

		</header>

		<div class="site-content__inner clearfix">

			<div class="site-content__body">

				<nav class="breadcrumb clearfix">
					<ul class="breadcrumb__list">
						<li class="breadcrumb__item"><a href="/">Home</a></li>
            {% if page.title != 'Home' %}
              <li class="breadcrumb__item breadcrumb__item--current">{{ page.title }}</li>
            {% endif %}
          </ul>
				</nav>
				<!--End .breadcrumb-->

				<!-- start main slot where silva content gets rendered-->

				<div class="site-content__main">
