<div class="wrapper">

		<div class="photograph">
			<div class="brand">
				<p class="brand__heading">{{ page.title }}</p>
				<a href="/" class="brand__link"><span class="visually-hidden">Home</span></a>
					<img src="//cdn.ucl.ac.uk/img/blank.gif" data-src="//static.ucl.ac.uk/indigo/images/ucl-logo.svg" alt="UCL logo" id="logo" class="brand__logo lazy">
			</div>
			<p class="photograph__description">{{ page.description }}</p>
		</div><!-- end .photograph -->

			<div class="sidebar">

				<nav class="nav nav--mobile">
					<ul>

						<li><a href="index.html" class="home-link">Home</a></li>

						<li><a href="#">Main navigation items</a>

							<ul>
								<li><a href="#">Lists can be nested</a></li>

								<li><a href="#">Lists can be nested</a></li>
							</ul>
						</li>

						<li><a href="#">Main navigation items</a></li>

					</ul>
				</nav>

				<nav class="nav nav--left">
					<ul>

						<li><a href="index.html" class="home-link">Home</a></li>

						<li><a href="#">Main navigation items</a>

							<ul>
								<li><a href="#">Lists can be nested</a></li>

								<li><a href="#">Lists can be nested</a></li>
							</ul>

						</li>

						<li><a href="#">Main navigation items</a></li>

					</ul>


				</nav>

			</div> <!-- end .sidebar -->

			<nav class="nav nav--top">
				<ul>
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">Main navigation items</a>
					</li>
					<li>
						<a href="#">Main navigation items</a>
					</li>
				</ul>
			</nav>

		</div> <!-- end .wrapper -->

	</header><!-- end .header -->

	<div class="site-content wrapper">

		<header class="header header--mobile default-header">

			<a class="header header__open" href="#"><img src="//cdn.ucl.ac.uk/img/blank.gif" class="lazy" data-src="//static.ucl.ac.uk/indigo/images/mob-nav.png" alt="Menu" /></a>

		</header>

		<div class="site-content__inner clearfix">

			<div class="site-content__body">

				<nav class="breadcrumb clearfix">
					<ul class="breadcrumb__list">
						<li class="breadcrumb__item"><a href="index.html">Home</a></li>
						<li class="breadcrumb__item breadcrumb__item--current">My Page</li>
					</ul>
				</nav>
				<!--End .breadcrumb-->

				<!-- start main slot where silva content gets rendered-->

				<div class="site-content__main">
